<html>

<head>
<title>Login In</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>
    <h2>Welcome, Name!</h2>
    <p> Credit Score: 800
        
    </p>

</body>
</html>